/*
   _                    _ 
  | |                  | |
  | |__   ___  __ _  __| |
  | '_ \ / _ \/ _` |/ _` |
  | | | |  __/ (_| | (_| |
  |_| |_|\___|\__,_|\__,_|
  
  */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #858585a8;
  width: 100%;
  height: 100px;

  background-color: rgb(87, 0, 228);
  color: #fff;
}

header h1 {
  margin-left: 20px;
}

header ul {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header li {
  list-style-type: none;
  padding-left: 5px;
}

body {
  margin: 0px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 5px;
  margin-left: 10px;

  width: 400px;
  height: 60px;

  background: #f5f1ff;

  border-style: solid;
  border-width: 0.5px;
}

.data {
  margin-bottom: 5px;
  margin-left: 10px;

  width: 403px;
  height: 60px;

  background: #f5f1ff;
}

form select {
  margin-bottom: 5px;
  margin-left: 10px;

  width: 408px;
  height: 60px;

  background: #f5f1ff;

  border-style: solid;
  border-width: 0.5px;
}

.inputs {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: end;
}

.imagemLateral {
  width: 400px;
  height: 400px;
}

.output {
  background: #f5f1ff;

  border-radius: 25px;

  margin-top: 0px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo h1 {
  font-size: 72px;
}

.conteudo .ografico {
  margin-top: -200px;
}

.quadro {
  margin-top: -350px;
  width: 95%;
}

.quadro h1 {
  background: #aa8afa;

  border-radius: 20px;

  margin-bottom: -45px;
}
